.active {
    background-color: grey;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
}

.navbar li {
    float: left;
    border-right: 1px solid grey;
}

.navbar a {
    display: block;
    padding: 12px 12px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: aqua;
}

table {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td, th {
    padding: 20px;
}

th {
    text-align: left;
}

body {
    background-color: lightslategrey;
}

h1 {
    text-align: center;
}


@media screen and (max-width: 920px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
}